.menu {
    transform: rotate(90deg);
    left: 60px;
}
.menu-item img {
    transform: rotate(-90deg);
}
.back_img {
    transform: rotate(-90deg);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 180ms;
    transform: translate3d(0.07963px, -99.99997px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 280ms;
    transform: translate3d(0.07963px, 99.99997px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 380ms;
    transform: translate3d(-0.2389px, -99.99971px, 0);
}

