.menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 180ms;
    transform: translate3d(0.07963px, -99.99997px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 280ms;
    transform: translate3d(95.11057px, -30.88655px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 380ms;
    transform: translate3d(58.81717px, 80.87361px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
    transition-duration: 480ms;
    transform: translate3d(-58.68829px, 80.96718px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(7) {
    transition-duration: 580ms;
    transform: translate3d(-95.15964px, -30.73503px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(8) {
    transition-duration: 680ms;
    transform: translate3d(-0.2389px, -99.99971px, 0);
}
