.menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 180ms;
    transform: translate3d(0.20306px, -254.99992px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 280ms;
    transform: translate3d(163.99724px, -195.2688px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 380ms;
    transform: translate3d(251.12989px, -44.25807px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
    transition-duration: 480ms;
    transform: translate3d(220.87031px, 127.44138px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(7) {
    transition-duration: 580ms;
    transform: translate3d(87.36353px, 239.56755px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(8) {
    transition-duration: 680ms;
    transform: translate3d(-86.98187px, 239.70639px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(9) {
    transition-duration: 780ms;
    transform: translate3d(-220.66706px, 127.79298px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(10) {
    transition-duration: 880ms;
    transform: translate3d(-251.20006px, -43.85805px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(11) {
    transition-duration: 980ms;
    transform: translate3d(-164.30803px, -195.00736px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(12) {
    transition-duration: 1080ms;
    transform: translate3d(-0.60919px, -254.99927px, 0);
}
