.menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 180ms;
    transform: translate3d(0.07963px, -99.99997px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 280ms;
    transform: translate3d(64.31264px, -76.576px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 380ms;
    transform: translate3d(98.48231px, -17.3561px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
    transition-duration: 480ms;
    transform: translate3d(86.61581px, 49.97701px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(7) {
    transition-duration: 580ms;
    transform: translate3d(34.26021px, 93.94806px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(8) {
    transition-duration: 680ms;
    transform: translate3d(-34.11054px, 94.00251px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(9) {
    transition-duration: 780ms;
    transform: translate3d(-86.5361px, 50.1149px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(10) {
    transition-duration: 880ms;
    transform: translate3d(-98.50983px, -17.19923px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(11) {
    transition-duration: 980ms;
    transform: translate3d(-64.43452px, -76.47347px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(12) {
    transition-duration: 1080ms;
    transform: translate3d(-0.2389px, -99.99971px, 0);
}
