@font-face {
    font-family: 'Arial Narrow';
    url('../fonts/ARIALN.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/ARIALNB.woff') format('woff'), /* Pretty Modern Browsers */
}
body {
    background: #004391;
    font-family: 'Arial', sans-serif;
    margin: 0 0 30px 0;
    padding: 0 0 30px 0;
    line-height: 1;
    font-size: 16px;

}
body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url('../images/pattern.svg');
    background-size: auto auto;
}
.navigation {
    width: 100%;
    height: 50px;
    background: linear-gradient( to left, rgb(220 162 30) 0%, rgb(199 138 24) 12%, rgb(103 74 8) 100% ) left bottom #004391 no-repeat;
    background-size: 100% 3px;
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
}
.page_top_menu {
    height: 55px;
    padding: 5px 0 0;
    width: 100%;
}
.page-container {
    margin-top: 40px;
}
.back_btn {
    cursor: pointer;
    padding-top: 5px;
}
.back_btn img {
    width: 25px;
}

