.menu-item, .menu-open-button {
    background: #fff;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: absolute;
    color: white;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
}

.menu-open {
    display: none;
}
.menu-holder {
    position: relative;
    display: inline-block;
    left: 42%;
}
.menu {
    position: relative;
    top: 150px;
    box-sizing: border-box;
}

.menu-open-button {
    z-index: 2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    transform: scale(1.6, 1.6) translate3d(0, 0, 0);
    cursor: pointer;
}

.menu-open:checked + .menu-open-button {
    transition-timing-function: linear;
    transition-duration: 200ms;
    transform: scale(1.6, 1.6) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu-item {
    cursor: pointer;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;
}
.menu-item:hover {
    text-decoration: none;
}
.back_img,.menu-item img {
    width: 100%;
}
.bread {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 10px;
    text-align: center;
}
.logo {
    text-align: right;
    padding-top: 5px;
}
.logo_default {
    text-align: right;
    padding-top: 5px;
}
.logo img, .logo_default img {
    width: 55px;
}
